<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  IgnorableNamespaces="uap rescap uap6">

  <Identity
    Name="a9e5e9a1-3577-4c1d-9baa-a48881aad90a"
    Publisher="CN=mateo"
    Version="0.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="a9e5e9a1-3577-4c1d-9baa-a48881aad90a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Voltorb Flip</DisplayName>
    <PublisherDisplayName>TheRealWeeLad</PublisherDisplayName>
    <Logo>Assets\voltorb.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Voltorb Flip"
        Description="An autonomous, dynamic solution finder for the hit game Voltorb Flip!"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\voltorb.png" Square44x44Logo="Assets\voltorb.png">
        <uap:DefaultTile Wide310x150Logo="Assets\voltorb.png"  Square71x71Logo="Assets\voltorb.png" Square310x310Logo="Assets\voltorb.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\voltorb.png" />
        <uap:LockScreen BadgeLogo="Assets/voltorb.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap6:Capability Name="graphicsCapture"/>
  </Capabilities>
</Package>
